// Fonts
//------------------------------------------------------------------------------
// Font imports
@import url('https://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

$font-branding: 'Arvo', bold;
$font-headline: 'Open Sans', sans-serif;
$font-sans: 'Open Sans', sans-serif;

// Colors
$white        : #fff;
$black        : #000;
$gray-10      : mix($white, $black, 10%);  // #1a1a1a
$gray-20      : mix($white, $black, 20%);  // #333
$gray-25      : mix($white, $black, 25%); // #404040
$gray-30      : mix($white, $black, 30%);  // #4d4d4d
$gray-35      : mix($white, $black, 35%); // #8c8c8c
$gray-40      : mix($white, $black, 40%); // #666
$gray-45      : mix($white, $black, 45%); // #737373
$gray-50      : mix($white, $black, 50%);  // #808080
$gray-55      : mix($white, $black, 55%); // #8c8c8c
$gray-60      : mix($white, $black, 60%);  // #999
$gray-70      : mix($white, $black, 70%);  // #b3b3b3
$gray-80      : mix($white, $black, 80%);  // #cccccc
$gray-90      : mix($white, $black, 90%);  // #e6e6e6

$offwhite: #ececec;
$accent: #E16D6D;
$accent-light: lighten($accent, 10%);
$accent-lightest: #FCF6F6;
$accent-dark: darken($accent, 15%);
$text-color: #000

//------------------------------------------------------------------------------
// Default Light Theme (NYTimes Library vars)

$masthead-background: $accent;
$main-homepage-background: $white;
$main-homepage-icon-color: $text-color;
$main-homepage-icon-border: $text-color;
$main-page-text-color: $text-color;
$main-page-btn-color: $gray-45;
$search-container-background: $white;
$search-container-hover: $gray-90;

$btn-homepage-background: $white;
$btn-homepage-border: $text-color;
$btn-default-background: $white;
$btn-default-background-hover: $accent;
$btn-default-border: $text-color;
$btn-default-text-color: $text-color;
$btn-default-text-hover: $text-color;
$btn-user-initial: $gray-50;

$elem-link-color: $gray-50;
$elem-active-link-color: $gray-50;
$elem-link-accent: $accent;

$nav-text-color: $gray-40;